<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DrewIO"
            id="com.frantz-drewio.ui">
      </category>
      <view
            name="DrewIO View"
            icon="icons/sample.gif"
            category="com.frantz-drewio.ui"
            class="com.frantzdrewio.ui.views.DrewIOView"
            id="com.frantzdrewio.ui.views.DrewIO View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.frantzdrewio.ui.views.DrewIO View">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.frantzdrewio.ui.perspectives.DrewIOPerspective"
            icon="icons/releng_gears.gif"
            id="com.frantzdrewio.ui.perspectives.DrewIOPerspective"
            name="DrewIO">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.frantzdrewio.ui.commands.ShowInViewer"
            commandId="com.frantzdrewio.ui.commands.ShowInViewer">
         <activeWhen>
            <or>
               <reference
                     definitionId="com.frantz.drewio.DrewIO.Editor.opened">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.eclipse.ui.category.edit"
            id="com.frantzdrewio.ui.commands.ShowInViewer"
            name="Switch to Visual">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.open">
         <command
               commandId="com.frantzdrewio.ui.commands.ShowInViewer"
               label="Show in Visual"
               style="push"
               tooltip="Show in Visual">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.frantz.drewio.DrewIO.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
